<form action="/login" method="POST">
  <h3>LogIn</h3>
  <input type="email" id="email" placeholder="email" name="email" required>
  <input type="password" id="password" placeholder="password" name="password" required>
  <button type="submit">sign in</button>
</form>